#my-card .image .default {
  display: block;
}

#my-card .image .hovered {
  display: none;
}

#my-card:hover .image .default {
  display: none;
}

#my-card:hover .image .hovered {
  display: block;
}

.minus123 {
  transition: 200ms ease-in-out;
}

.minus123:active {
  background-color: beige;
}

.plus123 {
  transition: 200ms ease-in-out;
}

.plus123:active {
  background-color: beige;
}

#kontakt.active123 {
  visibility: visible;
}

.nyButton {
  color: white;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../img/cta-vector.svg");

  background-size: 100% 100%;
  transition: 150ms ease-in-out;
}

.nyButton:hover {
  filter: drop-shadow(-5px 8px 0px #3e4349);
}

.nyButton:active {
  filter: drop-shadow(-2px 2px 0px #3e4349);
  transform: translate(-2px, 2px);
}

header {
  margin-left: 6.2rem;
  margin-right: 6.2rem;
  background-color: inherit;
}

.nysticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
.totopbutton {
  position: fixed;
  font-size: small;
  bottom: 70px;
  right: 50px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
#top-button {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#top-button:hover {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.05);
}
#top-button2 {
  opacity: 1;
}

#top-button.visible {
  opacity: 1;
}

.toggle-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  z-index: 110;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  header {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  .toggle-menu {
    display: flex;
    z-index: 110;
  }

  .navbar-links {
    display: none;
  }
}

.toggle-menu.x .bar:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.toggle-menu.x .bar:nth-child(2) {
  opacity: 0;
}

.toggle-menu.x .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.toggle-menu .bar {
  height: 3px;
  width: 100%;
  background-color: #435a49;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav-icon-wrapper {
  z-index: 11;
}

#full_screen_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3.5rem;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  z-index: 10;
}

#full_screen_nav.open {
  opacity: 1;
  visibility: visible;
}

.menu-item {
  cursor: pointer;
  display: block;
  font-size: clamp(1.75rem, 1.3696rem + 1.7391vw, 3rem);
  font-weight: 700;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
}

#menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.logo_full_nav {
  position: absolute;
  bottom: -5%;
  left: calc(15%);
}

.menu-item-nav-desk {
  transition: opacity 400ms ease;
}

.navbar-links:hover > .menu-item-nav-desk {
  opacity: 0.3;
}

.navbar-links:hover > .menu-item-nav-desk:hover {
  opacity: 1;
}

/* .splash_h1_h2 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.splash_button {
  grid-column: 1/2;
}

.splash_img {
  grid-column: 2/3;
  grid-row: 1/3;
} */

/* .hejsa {
  height: 70vmin;
} */

@media (max-width: 900px) {
  #splash_desktop {
    display: none;
  }
  #splash_mobile {
    display: block;
  }
}

@media (min-width: 900px) {
  #splash_desktop {
    display: block;
  }
  #splash_mobile {
    display: none;
  }
}

@media (max-width: 780px) {
  .smage-items {
    justify-content: center;
    place-items: center;
  }
}

.smage-items {
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.anbefalede_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

/* filternav */
#filtermenu ul {
  /* Hide the filtermenu by default */
  display: none;
}

#filtermenu ul.collapsed {
  /* Show the filtermenu when the "collapsed" class is present */
  display: block;
}

/* .testimonials_wrapper {
  width: 100vw;
} */
