---
import "../styles/global.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />
    <script src="../js/script.js"></script>
  </head>
  <body>
    <main class="mx-space160 mt-space160 md:grid md:grid-cols-2">
      <div>
        <h1 class="text-mobileH1 md:text-deskH1 pb-space20 font-black">
          Hovsa? - 404
        </h1>
        <h2 class="text-mobileH2 md:text-deskH2 font-medium pb-space160">
          Du er vist skvattet i et rådent æble.
        </h2>
        <h3 class="text-mobileH3 md:text-deskH3 font-medium pt-space20">
          Lad os hjælpe dig på benene igen!
        </h3>
        <ul class="flex flex-col list-disc pt-space15 underline text-blue500">
          <li><a href="/">Forside</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/">Om os</a></li>
          <li><a href="/ciderskolen">Ciderskolen</a></li>
        </ul>
      </div>
      <div class="md:grid text-link hidden">
        <div class="w-full flex justify-center">
          <img
            class="mb-space160 mt-space160"
            src="../img/able.png"
            alt="Billede af et aeble"
          />
        </div>
        <div class="w-full flex justify-center">
          <img class="w-1/2" src="../img/cirkel.png" alt="Skygge på aeble" />
        </div>
      </div>
    </main>
  </body>
</html>
