---
import "../styles/global.css";
import Button from "../components/Button.astro";
import Banner from "../components/Banner.astro";
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Du har bobler i kurven!</title>
  </head>
  <Banner />
  <body class="bg-beige300 overflow-x-hidden">
    <main
      class="mx-space30 sm:mx-spaceMarginx mt-spaceMarginTop grid place-content-center mb-space90"
    >
      <div class="w-full flex justify-center">
        <img
          class="mb-space160"
          src="../img/p_fem.svg"
          alt="du er på siden med kontaktinfo"
        />
      </div>
      <h1
        class="lg:text-deskH1 text-mobileH1 font-bold font-text pb-space10 text-center"
      >
        Vælg Betaling
      </h1>

      <section
        class="md:flex md:gap-space80 md:pt-space160 md:justify-center pb-space80"
      >
        <!-- kort  -->
        <div class="pt-space40 flex justify-center">
          <div class="hover:translate-y-[-10px] ease-in-out duration-200">
            <a tabindex="1" href="/betaling">
              <div
                class="w-[170px] h-[170px] grid justify-center hover:cursor-pointer shadow-md rounded-cornerRound"
              >
                <img src="../img/korts.svg" alt="Ikon af kort" />
                <p class="grid justify-center font-medium">Kort betaling</p>
              </div>
            </a>
          </div>
        </div>

        <!-- mobilepay -->
        <div class="pt-space40 flex justify-center">
          <div
            tabindex="2"
            class="hover:translate-y-[-10px] ease-in-out duration-200"
          >
            <div
              class="w-[170px] h-[170px] flex justify-center hover:cursor-pointer shadow-md rounded-cornerRound"
            >
              <img class="w-2/3" src="../img/mp.svg" alt="Mobile_pay" />
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
