---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Lav cider">
  <a href="#section_lav_cider"
    ><button
      class="totopbutton shadow-lg z-50 font-text text-lilac100 w-[100px] bg-green300 p-space1 mt-space90"
      id="top-button2">Return to top</button
    >
  </a>
  <section
    id="section_lav_cider"
    class="md:grid md:grid-cols-2 place-items-center flex flex-col-reverse"
  >
    <div class="">
      <h1 class="lg:text-deskH1 text-mobileH1 font-bold font-text">
        Lav din egen cider
      </h1>
      <br />

      <h2
        class="lg:text-deskH4 text-mobileH4 font-medium font-text md:lg:w-[550px]"
      >
        Hvordan laver man rigtig cider?
      </h2>
      <br />
      <br />

      <p class="text-mobileP font-text font-normal md:max-w-[550px]">
        Rigtig cider begynder med et æble og slutter med en flaske. Naturen
        sætter selv gang i ciderprocessen – gæren spiser af sukkeret og omdanner
        det til alkohol, kulsyre og smagsstoffer. Ciderfremstilling handler om
        gode æbler og optimale betingelser for gæringsprocessen.
        <br /><br />
        I Danmark er vi velsignet med et perfekt æbleklima. Faktisk er det så godt
        at mange æbler rådner op i private haver hvert år. Æbler der i stedet kunne
        være blevet brugt til velsmagende cider.
        <br /><br />
        Vi håber derfor, at du vil give dig i kast med at lave cider, og dermed blive
        del af ciderrevolutionen.
      </p>
    </div>
    <div class="flex justify-center md:col-start-2">
      <img
        class="mb-space30 lg:w-[479px] lg:h-[593px] w-[277px] h-[343px]"
        src="../img/ciderkasse.svg"
        alt="billede_af_en_kasse_cider"
      />
    </div>
  </section>
  <div class="hidden md:block">
    <hr class="bg-green300 p-[2px] mt-space40" />
  </div>

  <section class="md:grid md:justify-center w-full">
    <div class="flex justify-center md:w-[550px]">
      <img
        class="mb-space30 mt-space80 w-[250px] h-[250px]"
        src="../img/trae.svg"
        alt="billede_af_en_kasse_cider"
      />
    </div>
    <h2 class="lg:text-deskH2 text-mobileH2 font-medium font-text md:w-[550px]">
      1. Høst
    </h2>
    <br />

    <p class="text-mobileP font-text font-normal md:w-[550px]">
      Før du kan lave cider, skal du have noget frugt. Cider laves på æbler,
      pærer og i Danmark også nogle gange kvæder. Det bedste cider, vi har
      smagt, er lavet på en blanding af flere forskellige æblesorter. Hvis du
      vil lære lidt mere om, hvilke æblesorter du skal bruge, kan du læse lidt
      mere om æbler og cideræbler her.
      <br /><br />
      Hvis man vil, kan høsten være en videnskab i sig selv. Nogle insisterer på
      at man skal vente til æblerne naturligt er faldet ned fra træerne (da de dermed
      har udviklet mest sødme), andre plukker dem mens de er på træet. Uanset hvilken
      religion du udøver, vil du gerne arbejde med modne æbler, da de har et højt
      sukkerindhold. Du kan bruge sommeræbler eller efterårsæbler. For den bedste
      cider, skal du have så meget smag som muligt i æblerne.
      <br /><br />
      Derfor er madæbler gode at kombinere med de sødere spiseæbler. Jo flere madæbler
      jo bedre. Vi bruger selv æbler, som modnes sent på året. Det har den fordel,
      at mosten kan gære roligt i din garage eller skur ved lave temperaturer. Ideel
      cidergæring foregår ved omkring 5-10 grader. Vigtigt! Undgå rådne og ormefyldte
      æbler, da det ødelægger mosten. Det gør ikke noget at æblerne er lidt stødte,
      har skurv eller at der sidder lidt stilk på.
    </p>
  </section>
  <section class="md:grid md:justify-center w-full">
    <div class="flex justify-center md:w-[550px]">
      <img
        class="mb-space30 mt-space80 w-[250px] h-[250px]"
        src="../img/aeble.svg"
        alt="billede_af_et_aeble"
      />
    </div>
    <h2 class="lg:text-deskH2 text-mobileH2 font-medium font-text md:w-[550px]">
      2. Eftermodning
    </h2>

    <br />
    <p class="text-mobileP font-text font-normal md:w-[550px]">
      Efter du har plukket æblerne, kan du med fordel eftermodne dem i åbne
      kasser. Ideen med eftermodning er at få omdannet mere stivelse til sukker.
      Et par uger i skyggen skulle gøre det.
      <br /><br />
      Dette hjælper dig også i dit sorteringsarbejde inden kværning, da eventuelle
      oversete rådne æbler nu har afsløret sig selv. Det gør intet at æblerne let
      bløde og lidt runkne.
    </p>
  </section>

  <section class="md:grid md:justify-center">
    <div class="flex justify-center md:w-[550px]">
      <img
        class="mb-space30 mt-space80 w-[250px] h-[250px]"
        src="../img/hjul.svg"
        alt="billede_af_eet_hjul"
      />
    </div>
    <h2 class="lg:text-deskH2 text-mobileH2 font-medium font-text md:w-[550px]">
      3. Kværning
    </h2>
    <br />

    <p class="text-mobileP font-text font-normal md:w-[550px]">
      Efter du har plukket æblerne, kan du med fordel eftermodne dem i åbne
      kasser. Ideen med eftermodning er at få omdannet mere stivelse til sukker.
      Et par uger i skyggen skulle gøre det.
      <br /><br />
      Dette hjælper dig også i dit sorteringsarbejde inden kværning, da eventuelle
      oversete rådne æbler nu har afsløret sig selv. Det gør intet at æblerne let
      bløde og lidt runkne.
    </p>
  </section>
  <section class="md:grid md:justify-center">
    <div class="flex justify-center md:w-[550px]">
      <img
        class="mb-space30 mt-space80 w-[250px] h-[250px]"
        src="../img/tonde.svg"
        alt="billede_af_en_toende"
      />
    </div>
    <h2 class="lg:text-deskH2 text-mobileH2 font-medium font-text md:w-[550px]">
      4. Maceration
    </h2>
    <br />

    <p class="text-mobileP font-text font-normal md:w-[550px]">
      Hvis du har tid og mulighed for det, så kan du med fordel lade de kværnede
      æbler (pulpen) stå i en dags tid i åbne kar.

      <br /><br />
      Det vil hjælpe dig med at få større udbytte, da oxideringen, udover at gøre
      pulpen brunfarvet, hjælper med at udskille pektinen, som binder saften.
    </p>
  </section>
  <section class="md:grid md:justify-center">
    <div class="flex justify-center md:w-[550px]">
      <img
        class="mb-space30 mt-space80 w-[250px] h-[250px]"
        src="../img/lup.svg"
        alt="billede_af_et_lup"
      />
    </div>
    <h2 class="lg:text-deskH2 text-mobileH2 font-medium font-text md:w-[550px]">
      5. Presning
    </h2>
    <br />

    <p class="text-mobileP font-text font-normal md:w-[550px]">
      Udfordringen med at lave cider har altid været, hvordan man får mosten.
      Det er ikke lige så let som med druer, hvor du bare kan fylde dem i et kar
      og presse dem med dine fødder. Hvis du for eksempel har en hest og et
      stort møllehjul, så kan du presse æbler. Alternativt kan du købe en
      æblepresse i træ eller en hydraulisk presse.
      <br /><br />
      Hvis du skal have meget mostet, og ikke vil investere i en hydraulisk presse,
      tilbyder nogle gårde og mosterier, at man kan få det presset hos dem. Vi har
      brugt Østervang Gård ved Køge.
      <br /><br />
      Vær dog opmærksom på, at din pulp så ikke vil gennemgå maceration. Hvis du
      er ferm med hænderne, kan du også bygge en presse selv. Vi kender også til
      hobbyprojekter, hvor juicemaskinen er blevet benyttet til at omdanne æblerne
      til most.
    </p>
  </section>
  <section class="md:grid md:justify-center">
    <div class="flex justify-center md:w-[550px]">
      <img
        class="mb-space30 mt-space80 w-[250px] h-[250px]"
        src="../img/temperatur.svg"
        alt="billede_af_et_temperaturmeter"
      />
    </div>
    <h2 class="lg:text-deskH2 text-mobileH2 font-medium font-text md:w-[550px]">
      6. Kort gæring
    </h2>

    <br />
    <p class="text-mobileP font-text font-normal md:w-[550px]">
      Hvis du nogensinde har prøvet at arbejde som livredder i en svømmehal, vil
      du vide, at det egentlig primært er et rengøringsarbejde. Det samme gør
      sig gældende for ciderproduktion. Efter dit hårde arbejde med at indsamle,
      kværne og presse æblerne, er det sidste du ønsker, at der går bakterier i
      det. Derfor skal du være ekstrem opmærksom på rengøring af udstyr.
      <br /><br />
      Inden du begynder den første gæring, skal du måle sukkerindholdet. Det er nemlig
      sukkerindholdet, der afgør, hvor meget alkohol der er i din cider til slut.
      Se Nordisk Selvforsyning, som har en suveræn guide til ciderfremstilling her.
      <br /><br />
      Nu skal mosten på gæringsspande med gærlåse på toppen. Vi plejer at fylde vores
      gærlås op med vodka/eller en anden type alkohol, da du dermed sikrer, at der
      ikke kommer nogle bakterier ned til mosten. Mosten skal fyldes helt op til
      toppen af gærspanden, glasballonen eller tanken. Dette for at undgå, at mosten
      oxiderer pga. for meget til i beholderen.
      <br /><br />
      Du kan enten tilsætte cidergær eller lade det vildgære. Ved vildgæring lader
      du mosten gære af sig selv. Med cidergær tilsætter du gæren til mosten typisk
      i pulverform. Hvis du vil benytte en helt speciel gær med specifikke egenskaber,
      kan du blive nødt til at slå alt gærkultur (vildgær) ihjel ved gæringsstart.
      Her er pasteurisering og svovl, de mest almindelige metoder.
      <br /><br />
      Gæringen starter mellem et par timer og op til et par dage efter mosten er
      hældt på gærspand. Hvis det er meget koldt (0-10 grader), kan man sætte mosten
      indenfor for at kickstarte gæringen.
    </p>
  </section>
  <section class="md:grid md:justify-center">
    <div class="flex justify-center md:w-[550px]">
      <img
        class="mb-space30 mt-space80 w-[250px] h-[250px]"
        src="../img/ting.svg"
        alt="billede_af_et_termometer"
      />
    </div>
    <h2 class="lg:text-deskH2 text-mobileH2 font-medium font-text md:w-[550px]">
      7. Omstikning
    </h2>
    <br />
    <p class="text-mobileP font-text font-normal md:w-[550px]">
      Efter en lille uge, omstikker du første gang. Du omstikker en cider for at
      fjerne overskydende gær og derved nedsætte gæringshastigheden.
      <br /><br />
      Det er egentlig ret simpelt. Gæren (samt andre urenheder) falder ned til bunden
      af din most, og du tapper derfor mosten i laget lige over gæren. Dermed får
      du en mere ren most over i en ny tank, mens gær og andre urenheder er tilbage
      i den oprindelig gærspand. Jo mere du omstikker, jo langsommere foregår gæringen.
      Og jo langsommere, jo nemmere er det at kontrollere gæringen.
      <br /><br />
      En langsom og kontrolleret gæring resulterer i en både sødere og mere smagfuld
      cider. Hvis cideren begynder at gære hurtigt, gentager du processen. Det er
      derfor vigtigt at tjekke cideren regelmæssigt, for at sikre at gæringen ikke
      går for hurtigt.
    </p>
  </section>

  <section class="md:grid md:justify-center">
    <div class="flex justify-center md:w-[550px]">
      <img
        class="mb-space30 mt-space80 w-[250px] h-[250px]"
        src="../img/kolbe.svg"
        alt="billede_af_en_kolbe"
      />
    </div>
    <h2 class="lg:text-deskH2 text-mobileH2 font-medium font-text md:w-[550px]">
      8. Lang gæring
    </h2>

    <br />
    <p class="text-mobileP font-text font-normal md:w-[550px]">
      Efter en omstikning eller to eller tre, så lader du cideren stå køligt
      (ideelt 5-10 grader) i mørke.
      <br /><br />
      Efter et par uger ved rolig gæring, er der dannet bundfald. Du kan vælge at
      omstikke, hvis du vil have en klar cider eller du bare vil kontrollere gæringen
      endnu mere. Afhængigt af temperatur, gærtype og omstikningsfrekvens, vil det
      tage mellem 2 uger til 3 måneder at gære cideren færdig.
      <br /><br />
      Vi har erfaring med at hælde cideren på flaske, når gæringen af cideren næsten
      er gået i stå. Dette er alt mellem 1.005-1.015 G/L (oechle). Se Nordisk Selvforsyning
      for guide til sukkerindhold her.
    </p>
  </section>
  <section class="md:grid md:justify-center">
    <div class="flex justify-center md:w-[550px]">
      <img
        class="mb-space30 mt-space80 w-[250px] h-[250px]"
        src="../img/hane.svg"
        alt="billede_af_en_taphane"
      />
    </div>
    <h2 class="lg:text-deskH2 text-mobileH2 font-medium font-text md:w-[550px]">
      9. Flaskning
    </h2>
    <br />
    <p class="text-mobileP font-text font-normal md:w-[550px]">
      Selvom man godt kan have lyst til at drikke den lækre cider direkte af
      gærspanden, er det bedst at hælde cideren på flasker.
      <br /><br />
      Du kan bruge flere forskellige typer flasker, men man skal være opmærksom på,
      om flaskerne kan klare trykket. Hvis du flasker, mens der stadig er restsukker
      tilbage, vil sukkeret blive omdannet til alkohol og CO2. CO2 = tryk = bobler
      = mulig eksplosion – med mindre at du pasteuriserer.
      <br /><br />
      Jo mere sukker, der er i mosten, når du flasker, jo større er sandsynligheden
      for at flaskerne springer (eller proppen springer af). Derfor er det vigtigt
      at vide, hvor meget sukker, der er tilbage i mosten, når du flasker. Som tommelfingerregel
      kan du regne med, at fire gram sukker per liter giver en bars tryk.
      <br /><br />
      Det er en god idé at holde sig under et tryk på 5 bar. Flask derfor gerne med
      20 gram pr. liter eller derunder, hvis du ikke har erfaring med ciderfremstilling
      eller flasketypen.
    </p>
  </section>
  <section class="md:grid md:justify-center">
    <div class="flex justify-center md:w-[550px]">
      <img
        class="mb-space30 mt-space80 w-[250px] h-[350]"
        src="../img/flasker.svg"
        alt="billede_af_flere_cidere"
      />
    </div>
    <h2 class="lg:text-deskH2 text-mobileH2 font-medium font-text md:w-[550px]">
      10. Anden gæring
    </h2>

    <br />
    <p class="text-mobileP font-text font-normal md:w-[550px]">
      Herefter gærer mosten videre på flasken. Du kan nu enten åbne og drikke
      dem, eller du kan degorgere efter et par måneder.
      <br /><br />
      Hvis du vil degorgere, så stiller du flaskerne med bunden i vejret og venter
      et par måneder.
    </p>
  </section>
  <section class="md:grid md:justify-center">
    <div class="flex justify-center md:w-[550px]">
      <img
        class="mb-space30 mt-space80 w-[250px] h-[300px]"
        src="../img/kapsel.svg"
        alt="billede_af_en_kapsel"
      />
    </div>
    <h2 class="lg:text-deskH2 text-mobileH2 font-medium font-text md:w-[550px]">
      11. Degorering
    </h2>

    <br />
    <p class="text-mobileP font-text font-normal md:w-[550px]">
      Man degorgerer for at få den sidste gær ud af cideren.
      <br /><br />
      Du stiller flaskerne med bunden i vejret, så alt bundfald samler sig i toppen.
      Det tager et par måneder, før cideren er klar og gæret er samlet i toppen.
      Du kan enten topfryse flaskerne ved at sætte dem 10 min med bunden i vejret
      i din fryser eller du kan bruge en rigtig degorgeringsoplukker. Når du åbner
      flaskerne, vil gæret blive skudt ud. Det sviner og gær er meget svært at få
      af tøjet, så pas på med det.
    </p>
  </section>
  <section class="md:grid md:justify-center">
    <div class="flex justify-center md:w-[550px]">
      <img
        class="mb-space30 mt-space80 h-[350px] aspect-auto"
        src="../img/flaske.svg"
        alt="billede_af_en_ciderkasse"
      />
    </div>
    <h2 class="lg:text-deskH2 text-mobileH2 font-medium font-text md:w-[550px]">
      12. Modning på flaske
    </h2>

    <br />
    <p class="text-mobileP font-text font-normal md:w-[550px]">
      Så er det bare at vente, mens cideren modner. Vent gerne en måned for at
      du begynder at smage på din cider.
    </p>
  </section>
</MainLayout>
