---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="mx-space80">
    <h2 class="text-deskH2 font-text">Forside</h2>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/">Index</a>
    </li>
    <h2 class="text-deskH2 font-text">Shop</h2>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/shop/">shop</a>
    </li>
    <h2 class="text-deskH2 font-text">Ciderskolen</h2>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/ciderskolen/">Ciderskolen</a>
    </li>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/lavcider/"
        >Lav din egen cider</a
      >
    </li>
    <h2 class="text-deskH2 font-text">Kurv</h2>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/kurv/">Kurv</a>
    </li>
    <h2 class="text-deskH2 font-text">Købsflow</h2>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/opret_bruger_login/"
        >Opret bruger / login</a
      >
    </li>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/opret_bruger/"
        >Opret bruger</a
      >
    </li>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/hvordan_kontakt/"
        >Hvordan vil du kontaktes</a
      >
    </li>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/vaelglevering/">Levering</a>
    </li>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/afhent_butik/"
        >Afhentning i butik</a
      >
    </li>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/levering_info/"
        >Levering info</a
      >
    </li>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/note_levering/"
        >Note til levering</a
      >
    </li>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/betalingsform/"
        >Betalingsform</a
      >
    </li>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/betaling/">Kortbetaling</a>
    </li>
    <li class="list-item text-deskH4 font-text underline">
      <a href="https://ciderrevolution.netlify.app/bekraft_ordre/"
        >Bekræft ordre</a
      >
    </li>
  </body>
</html>
