<div class="bg-green500 md:p-space15 mb-space40 w-full p-space15">
  <p class="text-white text-xscopy text-center sticky font-text">
    Fragt - Storkøbenhavn: 40 kr - Resten af landet: 80 kr. (Gratis afhentning i
    NV) - Gratis forsendelse for ordrer over 1499 kr
  </p>
</div>
