---
---

<footer class="bg-orange200 items-center">
  <div
    class="m-space160 flex flex-col justify-center lg:grid lg:grid-cols-4 pt-space4 lg:items-center"
  >
    <div class="logo mt-space25 flex lg:-ml-space80 flex-col items-center">
      <img class="w-[73px] lg:w-[120px]" src="../img/logo.svg" alt="logo" />
    </div>
    <hr class="mt-space25 lg:hidden bg-[#E3C388] h-[2px] border-none" />
    <ul class="flex flex-col items-center lg:items-start">
      <a class="mt-space25 text-link font-bold underline" href="/">Kontakt</a>
      <a class="mt-space25 text-link font-bold underline" href="/ciderskolen"
        >Ciderskolen</a
      >
      <a class="mt-space25 text-link font-bold underline" href="#">Om os</a>
      <a class="mt-space25 text-link font-bold underline" href="/shop">Shop</a>
    </ul>
    <hr class="mt-space25 lg:hidden bg-[#E3C388] h-[2px] border-none" />
    <div class="flex flex-col lg:-ml-space80 items-center lg:items-start">
      <h5 class="mt-space25 font-light">ØRNEVEJ 60, ST. TH.</h5>
      <h5 class="mt-space25 font-light">2400 KØBENHAVN NV</h5>
      <h5 class="mt-space25 font-light">CVR: 37906379</h5>
      <h5 class="mt-space25 font-light">KONTAKT@CIDERREVOLUTION.DK</h5>
    </div>
    <hr
      class="mt-space25 -mb-space80 lg:hidden bg-[#E3C388] h-[2px] border-none"
    />

    <!-- Dette er på Web -->
    <div class="hidden lg:block mt-space40">
      <div class="flex items-center lg:items-start mb-space25">
        <p
          style="line-height: 1.5;"
          class="mx-space60 text-center lg:text-left"
        >
          <strong> Storkøbenhavn:</strong> Fragt: 40 kr. <strong
            ><br />
            Resten af landet:</strong
          > Fragt: 80 kr. <br />
          <br />
          Gratis afhentning i vores butik på Ørnevej (KBH NV) Gratis forsendelse
          for ordrer over 1499 kr. (til nærmeste GLS-pakkeshop for ordre uden for
          Storkøbenhavn)
        </p>
      </div>
    </div>
  </div>
  <hr
    class="mt-space25 lg:mt-space10 lg:block hidden lg:mx-space80 mx-space80 bg-[#E3C388] h-[2px] border-none"
  />
  <div
    class="lg:flex lg:flex-row hidden justify-between items-center mx-space80"
  >
    <div class="flex pb-space20">
      <img
        class="mt-space25"
        src="../img/mobilepaylogo.svg"
        alt="mobilepay logo"
      />
      <img class="mt-space25" src="../img/visalogo.svg" alt="visa logo" />
    </div>
    <div class="flex gap-space25 pb-space20">
      <a class="mt-space25 font-bold underline" href="#">Fødevarersmiley</a>
      <a class="mt-space25 font-bold underline" href="#">Handelsbetingelser</a>
      <a class="mt-space25 font-bold underline" href="#">Privatlivspolitik</a>
    </div>
  </div>
  <!-- Dette er på mobil -->
  <div class="lg:hidden">
    <div class="flex flex-col items-center pb-space25">
      <a class="mt-space25 font-bold underline" href="#">Fødevarersmiley</a>
      <a class="mt-space25 font-bold underline" href="#">Handelsbetingelser</a>
      <a class="mt-space25 font-bold underline" href="#">Privatlivspolitik</a>
      <img
        class="mt-space25"
        src="../img/mobilepaylogo.svg"
        alt="mobilepay logo"
      />
      <img class="mt-space25" src="../img/visalogo.svg" alt="visa logo" />

      <p class="mx-space80 text-center mt-space25">
        <strong> Storkøbenhavn:</strong> Fragt: 40 kr. <br />
        <strong> Resten af landet:</strong> Fragt: 80 kr. <br />
        <br />
        <strong> Gratis afhentning i vores butik på Ørnevej</strong> (KBH NV) Gratis
        forsendelse for ordrer over 1499 kr. (til nærmeste GLS-pakkeshop for ordre
        uden for Storkøbenhavn)
      </p>
    </div>
  </div>
</footer>
